$light-blue: #AECFE5

nav
  background: #333
  display: block
  height: 5.2rem
  width: 100%
  a
    color: white
    &:hover
      color: $light-blue

.navigation-title
  font-weight: bold
  color: white
  display: inline
  font-size: 1.6rem
  line-height: 5.2rem
  position: relative
  text-decoration: none

.navigation-list
  list-style: none
  margin-bottom: 0

  li
    padding: 0 1rem

    float: left
    margin-bottom: 0
    position: relative

    &:hover, &.active
      background-color: #272727

  a
    display: inline
    font-size: 1.6rem
    line-height: 5.2rem
    padding: 0
    text-decoration: none

#pages
  margin-top: 1rem