$light-blue: #AECFE5
$primary: #48ACF0
$jungle: #1E3231
$grey: #9f9e9b
$white: #F1FFE7

@import 'https://fonts.googleapis.com/css?family=Inconsolata'

img.logo
  vertical-align: top
  height: 32px

nav
  background: #222
  display: block
  height: 40px
  width: 100%
  a
    color: $grey
    font-family: 'Inconsolata', monospace
    &:hover
      color: $white

.navigation-title
  font-weight: bold
  color: $white
  display: inline
  font-size: 1.6rem
  line-height: 40px
  position: relative
  text-decoration: none

.navigation-list
  list-style: none
  margin-bottom: 0

  li
    padding: 0 1rem
    vertical-align: bottom

    float: left
    margin-bottom: 0
    position: relative

    &:hover, &.active
      background-color: #111

  a
    display: inline
    font-size: 1.6rem
    line-height: 40px
    padding: 0
    text-decoration: none

#pages
  margin-top: 2rem

.button-outline
  -webkit-transition: all 0.4s ease-out
  -moz-transition: all 0.4s ease-out
  -o-transition: all 0.4s ease-out
  -ms-transition: all 0.4s ease-out
  transition: all 0.4s ease-out
  color: $primary !important
  border-color: $primary !important

  &:hover
    color: $jungle !important
    border-color: $jungle !important

pre
  font-size: x-small
  padding-left: 3rem

.loading
  position: relative
  left: 44%
  width: 0
  height: 0
  border-right: 5vw solid $light-blue
  border-top: 5vw solid $grey
  border-left: 5vw solid $jungle
  border-bottom: 5vw solid $white
  border-radius: 5vw
  -moz-border-radius: 5vw
  -webkit-border-radius: 5vw
  animation: load 1.3s linear 0s infinite
  -moz-animation: load 1.3s linear 0s infinite
  -webkit-animation: load 1.3s linear 0s infinite
  @keyframes load
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

  @-moz-keyframes load
    from
      -moz-transform: rotate(0deg)
    to
      -moz-transform: rotate(360deg)

  @-webkit-keyframes load
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(360deg)