$light-blue: #AECFE5
$primary: #48ACF0
$jungle: #1E3231
$white: #F1FFE7

img.logo
  vertical-align: top
  height: 32px
  margin-top: 5px

nav
  background: #333
  display: block
  height: 50px
  width: 100%
  a
    color: $white
    &:hover
      color: $light-blue

.navigation-title
  font-weight: bold
  color: $white
  display: inline
  font-size: 1.6rem
  line-height: 50px
  position: relative
  text-decoration: none

.navigation-list
  list-style: none
  margin-bottom: 0

  li
    padding: 0 1rem
    vertical-align: bottom

    float: left
    margin-bottom: 0
    position: relative

    &:hover, &.active
      background-color: #272727

  a
    display: inline
    font-size: 1.6rem
    line-height: 50px
    padding: 0
    text-decoration: none

#pages
  margin-top: 1rem

.button-outline
  -webkit-transition: all 0.4s ease-out
  -moz-transition: all 0.4s ease-out
  -o-transition: all 0.4s ease-out
  -ms-transition: all 0.4s ease-out
  transition: all 0.4s ease-out
  color: $primary !important
  border-color: $primary !important

  &:hover
    color: $jungle !important
    border-color: $jungle !important